.EmployeeDetails{
  min-height: 100vh;
}

.EmployeeDetails__table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;

  .EmployeeDetails__th,
  .EmployeeDetails__td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .EmployeeDetails__th {
    background-color: #f2f2f2;
  }

  .EmployeeDetails__td:nth-child(odd) {
    background-color: #f9f9f9;
  }

  @media (max-width: 768px) {
    // .EmployeeDetails__th,
    // .EmployeeDetails__td {
    //   display: block;
    //   width: 100%;
    // }

    .EmployeeDetails__th {
      text-align: center;
      width: 100%;
    }

    .EmployeeDetails__td {
      text-align: center;
    }
  }
}

///
.EmployeeDetails__editButton {
  position: relative;
  margin: 10px;
  margin-top: 20px;
	padding: 8px 16px;
	background-color: #efefef;
	box-shadow: none;
	outline: none;
	border: 2px solid black;
	color: black;
	border-radius: 12px;
  font-size: 18px;
  z-index: 5;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(-90deg, rgba(11, 10, 10, 0.3),rgba(255,255,255,.0));
    top: -10px;
    left: -30px;
    height: 160%;
    width: 20px;
    transform: rotate(20deg);
    transition: .3s;
  }
  &:hover::before{
    left: 100%;
  }
}



.employee-details__allow  {
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
  text-align: center;  
}

.employee-details__cancel{
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.employee-details__save {
  margin: 8px;
  padding: 8px 16px;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
  border: 2px solid black;
  color: black;
  border-radius: 16px;
}

.employee-details__cancel:hover {
  background-color: red;
}

.employee-details__save:hover {
  background-color: red;
}